:root {
    --bg-clr: hsl(220, 10%, 10%);
    --txt-clr: hsl(220, 10%, 98%);
}

html,
body {
    height: 100%;
}

body {
    display: grid;
    place-content: center;

    font-family: "Segoe UI", sans-serif;
    color: var(--txt-clr);
    background-color: var(--bg-clr);
    overflow: hidden;

    transform:
        background-color 0.3s,
        color 0.3s;
}
